/* other */

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

/* body */

body {
	background: #C4C4C4;
}

/* header */

header {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #FFFE97;
	height: 72px;
}

/* main nav bar */

.nav-row {
	display: flex;
	justify-content: space-between;
}

.main-nav ul{
	margin: 20px 0 20px 0 ;
}
.main-nav ul li {
	display: inline-block;
	margin-right: 10px;
}

.main-nav ul li a {
	border-bottom: 1px solid #212123;

	font-size: 16px;
	text-decoration: none;
	color: #212123;
}

.main-nav ul li:last-child {
	padding-right: 20px;
	border-right: 3px solid #212123;
}

.main-nav ul li a:hover {
	color: #5AD9E2;
	border-bottom: 3px solid #5AD9E2;
}

/* logo */

.logo h1 {
	font-size: 32px;
	line-height: 64px;
	display: inline-block;
}


/* article */

main {
	max-width: 60%;
	margin: auto;
}

.article {
	margin: 32px 0 20px 0;
	text-align: center;
	font-size: 32px;
}

/* image */

.image img {
	max-width: 100%;
	max-height: 100%;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* facts */

.facts {
	margin: 124px 0 0 0;
}
.facts p {
	margin: 30px 0 0 0;
	padding-left: 20px;
	text-align: left;
	min-height: 50px;
	border-left: 2px solid #212123;
	color: #212123;
}

.facts p:hover {
	border-left: 4px solid #FFFE97;
}


/* skills */

.skills {
	margin: 124px 0 20px 0;
}


/* info-block */

.block {
	max-width: 60%;
	margin: auto;
}

.info-block {
	background: #D6A358;
}

/* footer */

footer {
	min-height: 150px;
	background: #212123;
	color: #D6A358;
	
}

.contacts {
	margin: 20px 0 0 0;
	line-height:16px;
}

.contacts p a {
	color: #D6A358;
	text-decoration: none;
	border-bottom: 1px solid #D6A358;
}

.contacts p a:hover {
	color: #FFFE97;
	border-bottom: 2px solid #FFFE97;
}

/* form */

.send {
	text-align: center;
	padding-bottom: 30px;
}
.send a {
	text-decoration: none;
	color: #212123;
	font-size: 32px;
	border-bottom: 2px solid #212123;
}

.send a:hover {
	text-decoration: none;
	border-bottom: 4px solid #FFFE97;
}


/* form  */
.form {
	padding-top: 30px;
	max-width: 50%;
	margin: auto;
}

form input {
	color: #212123;
}

.sub {
	margin: 20px 0 0 0;
	border: none;
	border-bottom: 2px solid #212123;
	color: #212123;
	background: #C4C4C4;
}

.sub:hover {
	color: #FFFE97;
	border-bottom: 4px solid #FFFE97;
}

.window {
	min-width: 100%;
	background: #C4C4C4;
	border: none;
	border-bottom: 2px solid #212123;
}

.window:focus{
	border-bottom: 2px solid #FFFE97;
}

.window:hover {
	border-bottom: 2px solid #FFFE97;
}

/* request button */

.req{
	max-width: 300px;
	margin: auto;
	margin-top: 25%;
}

.button a{
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #000;
  padding: 20px 30px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #FFFE97 0%, red 51%, #FFFE97 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .7s;
}
.button a:hover {background-position: right center;}

/* request */

.request {
	margin: 20px auto;
	padding: 30px 30px 20px 30px;

	background: #C4C4C4;
	border: 4px solid #FFFE97;
	transition: .8s;
}
.request-item {
	font-size: 20px;
}
.request-item span {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.request:hover {
	background-position: right center;
	border: 4px solid red;
	background: #FFFE97;
}

.request:first-child {
	border-radius: 50px 50px 0 0;
}

.request:last-child {
	border-radius: 0 0 50px 50px;
}